<template>
    <div>
        <div v-for="comment in this.items">
            {{ comment.body}} - door: {{ comment.user.name }}
            <hr>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CommentComponent",

        props: {
            comments: Array,
            blog: Object,
        },

        data() {
            return {
                items: this.comments
            }
        },

        mounted() {
          this.listen();
        },

        methods: {
            listen() {
                Echo.channel('blog.'+this.blog.id)
                    .listen('NewComment', (comment) => {
                        this.items.unshift(comment)
                    })
            }
        }
    }
</script>

<style scoped>

</style>
